<!-- <app-game></app-game>
<div class="container">
    <h1 class="name">Saugat Rai</h1>
    <h2 class="profession_phone">Software Developer &<br>Web Develover</h2>
    <div class="title">
        
       
        <app-nav-bar></app-nav-bar>
    </div>
    <h2 class="profession">Software Developer &<br>Web Develover</h2>
</div> -->

<div class="main-container">
    <div class="content-container">
        <app-game></app-game>
        <app-header></app-header>
        <app-home></app-home>
        <app-about></app-about>
        <app-skills></app-skills>
    </div>
</div>