<div #about class="section">
    <div class="about">
        <div class="section-1">
            <div class="my-pic" (mousemove)="handelHover($event)" (mouseleave)="clearAni($event)">
                <!-- <div class="row" *ngFor="let row of animationMatrix; let i=index">
                    <div class="col" *ngFor="let col of row; let j=index" (mouseover)="tilt(i, j)"></div>
                </div> -->
                <img #image alt="img"  src="../../../assets/images/image-p.jpg" />
            </div>
        </div>
        <div class="section-2">
            <h2 class="about-title">About Me</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
                sit. Voluptas, quo fugiat repellat, enim placeat saepe id tempore soluta
                neque laboriosam voluptatem nulla exercitationem dolores excepturi
                sapiente obcaecati asperiores, magnam vitae eos libero voluptatibus ad.
                Quasi, voluptates atque. Voluptatum, earum reprehenderit cumque facilis
                sunt voluptas beatae repudiandae ducimus amet.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit hic optio beatae dignissimos modi,
                perspiciatis dolores nostrum a vel cum!</p>
        </div>
    </div>
</div>